<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-utilisateur-heading">Create or edit a Utilisateur</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastname">Lastname</label>
                    <input type="text" class="form-control" name="lastname" id="field_lastname"
                           formControlName="lastname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstname">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname"
                           formControlName="firstname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_linkedin">Linkedin</label>
                    <input type="text" class="form-control" name="linkedin" id="field_linkedin"
                           formControlName="linkedin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_googleplus">Googleplus</label>
                    <input type="text" class="form-control" name="googleplus" id="field_googleplus"
                           formControlName="googleplus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_role">Role</label>
                    <input type="text" class="form-control" name="role" id="field_role"
                           formControlName="role"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_qcm">Qcm</label>
                    <select class="form-control" id="field_qcm" name="qcm" formControlName="qcmId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qcmOption.id" *ngFor="let qcmOption of qcms; trackBy: trackById">{{qcmOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qcmTest">Qcm Test</label>
                    <select class="form-control" id="field_qcmTest" name="qcmTest" formControlName="qcmTestId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qcmTestOption.id" *ngFor="let qcmTestOption of qcmtests; trackBy: trackById">{{qcmTestOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
