<div>
    <h2 id="page-heading">
        <span>Societe Abonnes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-societe-abonne" [routerLink]="['/societe-abonne/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Societe Abonne
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="societeAbonnes?.length === 0">
        <span>No societeAbonnes found</span>
    </div>
    <div class="table-responsive" *ngIf="societeAbonnes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateAbonnement"><span>Date Abonnement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="logo"><span>Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="utilisateurId"><span>Utilisateur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let societeAbonne of societeAbonnes ;trackBy: trackId">
                <td><a [routerLink]="['/societe-abonne', societeAbonne.id, 'view' ]">{{societeAbonne.id}}</a></td>
                <td>{{societeAbonne.name}}</td>
                <td>{{societeAbonne.dateAbonnement | date:'medium'}}</td>
                <td>
                    <a *ngIf="societeAbonne.logo" (click)="openFile(societeAbonne.logoContentType, societeAbonne.logo)">
                        <img [src]="'data:' + societeAbonne.logoContentType + ';base64,' + societeAbonne.logo" style="max-height: 30px;" alt="societeAbonne image"/>
                    </a>
                    <span *ngIf="societeAbonne.logo">{{societeAbonne.logoContentType}}, {{byteSize(societeAbonne.logo)}}</span>
                </td>
                <td>
                    <div *ngIf="societeAbonne.utilisateurId">
                        <a [routerLink]="['/utilisateur', societeAbonne.utilisateurId , 'view' ]" >{{societeAbonne.utilisateurId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/societe-abonne', societeAbonne.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/societe-abonne', societeAbonne.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(societeAbonne)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
