<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-qcm-heading">Create or edit a Qcm</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.minlength">
                        This field is required to be at least 3 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nbQuestion">Nb Question</label>
                    <input type="number" class="form-control" name="nbQuestion" id="field_nbQuestion"
                           formControlName="nbQuestion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_privee">Privee</label>
                    <input type="checkbox" class="form-control" name="privee" id="field_privee"
                           formControlName="privee"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_qcmQuestion">Qcm Question</label>
                    <select class="form-control" id="field_qcmQuestion" name="qcmQuestion" formControlName="qcmQuestionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qcmQuestionOption.id" *ngFor="let qcmQuestionOption of qcmquestions; trackBy: trackById">{{qcmQuestionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qcmTest">Qcm Test</label>
                    <select class="form-control" id="field_qcmTest" name="qcmTest" formControlName="qcmTestId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qcmTestOption.id" *ngFor="let qcmTestOption of qcmtests; trackBy: trackById">{{qcmTestOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
