<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qcmTestResponse">
            <h2><span>Qcm Test Response</span> {{qcmTestResponse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Soumission</span></dt>
                <dd>
                    <span>{{qcmTestResponse.dateSoumission}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qcm-test-response', qcmTestResponse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
