<div>
    <h2 id="page-heading">
        <span>Qcm Question Tags</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qcm-question-tag" [routerLink]="['/qcm-question-tag/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Qcm Question Tag
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="qcmQuestionTags?.length === 0">
        <span>No qcmQuestionTags found</span>
    </div>
    <div class="table-responsive" *ngIf="qcmQuestionTags?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let qcmQuestionTag of qcmQuestionTags ;trackBy: trackId">
                <td><a [routerLink]="['/qcm-question-tag', qcmQuestionTag.id, 'view' ]">{{qcmQuestionTag.id}}</a></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/qcm-question-tag', qcmQuestionTag.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qcm-question-tag', qcmQuestionTag.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(qcmQuestionTag)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
