<div>
    <h2 id="page-heading">
        <span>Qcm Reponses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qcm-reponse" [routerLink]="['/qcm-reponse/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Qcm Reponse
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="qcmReponses?.length === 0">
        <span>No qcmReponses found</span>
    </div>
    <div class="table-responsive" *ngIf="qcmReponses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="reponseText"><span>Reponse Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="reponseImage"><span>Reponse Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="reponseNombre"><span>Reponse Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="correct"><span>Correct</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="poids"><span>Poids</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="qcmTestResponseId"><span>Qcm Test Response</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let qcmReponse of qcmReponses ;trackBy: trackId">
                <td><a [routerLink]="['/qcm-reponse', qcmReponse.id, 'view' ]">{{qcmReponse.id}}</a></td>
                <td>{{qcmReponse.reponseText}}</td>
                <td>
                    <a *ngIf="qcmReponse.reponseImage" (click)="openFile(qcmReponse.reponseImageContentType, qcmReponse.reponseImage)">
                        <img [src]="'data:' + qcmReponse.reponseImageContentType + ';base64,' + qcmReponse.reponseImage" style="max-height: 30px;" alt="qcmReponse image"/>
                    </a>
                    <span *ngIf="qcmReponse.reponseImage">{{qcmReponse.reponseImageContentType}}, {{byteSize(qcmReponse.reponseImage)}}</span>
                </td>
                <td>{{qcmReponse.reponseNombre}}</td>
                <td>{{qcmReponse.correct}}</td>
                <td>{{qcmReponse.poids}}</td>
                <td>
                    <div *ngIf="qcmReponse.qcmTestResponseId">
                        <a [routerLink]="['/qcm-test-response', qcmReponse.qcmTestResponseId , 'view' ]" >{{qcmReponse.qcmTestResponseId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/qcm-reponse', qcmReponse.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qcm-reponse', qcmReponse.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(qcmReponse)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
