<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qcmReponse">
            <h2><span>Qcm Reponse</span> {{qcmReponse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Reponse Text</span></dt>
                <dd>
                    <span>{{qcmReponse.reponseText}}</span>
                </dd>
                <dt><span>Reponse Image</span></dt>
                <dd>
                    <div *ngIf="qcmReponse.reponseImage">
                        <a (click)="openFile(qcmReponse.reponseImageContentType!, qcmReponse.reponseImage)">
                            <img [src]="'data:' + qcmReponse.reponseImageContentType + ';base64,' + qcmReponse.reponseImage" style="max-width: 100%;" alt="qcmReponse image"/>
                        </a>
                        {{qcmReponse.reponseImageContentType}}, {{byteSize(qcmReponse.reponseImage)}}
                    </div>
                </dd>
                <dt><span>Reponse Nombre</span></dt>
                <dd>
                    <span>{{qcmReponse.reponseNombre}}</span>
                </dd>
                <dt><span>Correct</span></dt>
                <dd>
                    <span>{{qcmReponse.correct}}</span>
                </dd>
                <dt><span>Poids</span></dt>
                <dd>
                    <span>{{qcmReponse.poids}}</span>
                </dd>
                <dt><span>Qcm Test Response</span></dt>
                <dd>
                    <div *ngIf="qcmReponse.qcmTestResponseId">
                        <a [routerLink]="['/qcm-test-response', qcmReponse.qcmTestResponseId, 'view']">{{qcmReponse.qcmTestResponseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qcm-reponse', qcmReponse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
