<div>
    <h2 id="page-heading">
        <span>Qcm Tests</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qcm-test" [routerLink]="['/qcm-test/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Qcm Test
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="qcmTests?.length === 0">
        <span>No qcmTests found</span>
    </div>
    <div class="table-responsive" *ngIf="qcmTests?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateDebut"><span>Date Debut</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateFin"><span>Date Fin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="score"><span>Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="highScore"><span>High Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="qcmTestResponseId"><span>Qcm Test Response</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let qcmTest of qcmTests ;trackBy: trackId">
                <td><a [routerLink]="['/qcm-test', qcmTest.id, 'view' ]">{{qcmTest.id}}</a></td>
                <td>{{qcmTest.dateDebut | date:'medium'}}</td>
                <td>{{qcmTest.dateFin | date:'medium'}}</td>
                <td>{{qcmTest.email}}</td>
                <td>{{qcmTest.score}}</td>
                <td>{{qcmTest.highScore}}</td>
                <td>
                    <div *ngIf="qcmTest.qcmTestResponseId">
                        <a [routerLink]="['/qcm-test-response', qcmTest.qcmTestResponseId , 'view' ]" >{{qcmTest.qcmTestResponseId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/qcm-test', qcmTest.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qcm-test', qcmTest.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(qcmTest)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
