<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qcmTest">
            <h2><span>Qcm Test</span> {{qcmTest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Debut</span></dt>
                <dd>
                    <span>{{qcmTest.dateDebut}}</span>
                </dd>
                <dt><span>Date Fin</span></dt>
                <dd>
                    <span>{{qcmTest.dateFin}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{qcmTest.email}}</span>
                </dd>
                <dt><span>Score</span></dt>
                <dd>
                    <span>{{qcmTest.score}}</span>
                </dd>
                <dt><span>High Score</span></dt>
                <dd>
                    <span>{{qcmTest.highScore}}</span>
                </dd>
                <dt><span>Qcm Test Response</span></dt>
                <dd>
                    <div *ngIf="qcmTest.qcmTestResponseId">
                        <a [routerLink]="['/qcm-test-response', qcmTest.qcmTestResponseId, 'view']">{{qcmTest.qcmTestResponseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qcm-test', qcmTest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
