<div>
    <h2 id="page-heading">
        <span>Qcm Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qcm-question" [routerLink]="['/qcm-question/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Qcm Question
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="qcmQuestions?.length === 0">
        <span>No qcmQuestions found</span>
    </div>
    <div class="table-responsive" *ngIf="qcmQuestions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="libelle"><span>Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="explication"><span>Explication</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="qcmQuestionTagId"><span>Qcm Question Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="qcmReponseId"><span>Qcm Reponse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="qcmTestResponseId"><span>Qcm Test Response</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let qcmQuestion of qcmQuestions ;trackBy: trackId">
                <td><a [routerLink]="['/qcm-question', qcmQuestion.id, 'view' ]">{{qcmQuestion.id}}</a></td>
                <td>{{qcmQuestion.libelle}}</td>
                <td>{{qcmQuestion.type}}</td>
                <td>{{qcmQuestion.explication}}</td>
                <td>
                    <div *ngIf="qcmQuestion.qcmQuestionTagId">
                        <a [routerLink]="['/qcm-question-tag', qcmQuestion.qcmQuestionTagId , 'view' ]" >{{qcmQuestion.qcmQuestionTagId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="qcmQuestion.qcmReponseId">
                        <a [routerLink]="['/qcm-reponse', qcmQuestion.qcmReponseId , 'view' ]" >{{qcmQuestion.qcmReponseId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="qcmQuestion.qcmTestResponseId">
                        <a [routerLink]="['/qcm-test-response', qcmQuestion.qcmTestResponseId , 'view' ]" >{{qcmQuestion.qcmTestResponseId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/qcm-question', qcmQuestion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qcm-question', qcmQuestion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(qcmQuestion)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
