<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qcmQuestion">
            <h2><span>Qcm Question</span> {{qcmQuestion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{qcmQuestion.libelle}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{qcmQuestion.type}}</span>
                </dd>
                <dt><span>Explication</span></dt>
                <dd>
                    <span>{{qcmQuestion.explication}}</span>
                </dd>
                <dt><span>Qcm Question Tag</span></dt>
                <dd>
                    <div *ngIf="qcmQuestion.qcmQuestionTagId">
                        <a [routerLink]="['/qcm-question-tag', qcmQuestion.qcmQuestionTagId, 'view']">{{qcmQuestion.qcmQuestionTagId}}</a>
                    </div>
                </dd>
                <dt><span>Qcm Reponse</span></dt>
                <dd>
                    <div *ngIf="qcmQuestion.qcmReponseId">
                        <a [routerLink]="['/qcm-reponse', qcmQuestion.qcmReponseId, 'view']">{{qcmQuestion.qcmReponseId}}</a>
                    </div>
                </dd>
                <dt><span>Qcm Test Response</span></dt>
                <dd>
                    <div *ngIf="qcmQuestion.qcmTestResponseId">
                        <a [routerLink]="['/qcm-test-response', qcmQuestion.qcmTestResponseId, 'view']">{{qcmQuestion.qcmTestResponseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qcm-question', qcmQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
