<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-qcm-question-heading">Create or edit a Qcm Question</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                    <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelle')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="YES_NO">YES_NO</option>
                        <option value="CHOIX_MULTIPLE">CHOIX_MULTIPLE</option>
                        <option value="CHOIX_IMAGE">CHOIX_IMAGE</option>
                        <option value="CHAMPS_LIBRE">CHAMPS_LIBRE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_explication">Explication</label>
                    <textarea class="form-control" name="explication" id="field_explication"
                              formControlName="explication"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_qcmQuestionTag">Qcm Question Tag</label>
                    <select class="form-control" id="field_qcmQuestionTag" name="qcmQuestionTag" formControlName="qcmQuestionTagId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qcmQuestionTagOption.id" *ngFor="let qcmQuestionTagOption of qcmquestiontags; trackBy: trackById">{{qcmQuestionTagOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qcmReponse">Qcm Reponse</label>
                    <select class="form-control" id="field_qcmReponse" name="qcmReponse" formControlName="qcmReponseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qcmReponseOption.id" *ngFor="let qcmReponseOption of qcmreponses; trackBy: trackById">{{qcmReponseOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qcmTestResponse">Qcm Test Response</label>
                    <select class="form-control" id="field_qcmTestResponse" name="qcmTestResponse" formControlName="qcmTestResponseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qcmTestResponseOption.id" *ngFor="let qcmTestResponseOption of qcmtestresponses; trackBy: trackById">{{qcmTestResponseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
