<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="carnetAdresse">
            <h2><span>Carnet Adresse</span> {{carnetAdresse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Lastname</span></dt>
                <dd>
                    <span>{{carnetAdresse.lastname}}</span>
                </dd>
                <dt><span>Firstname</span></dt>
                <dd>
                    <span>{{carnetAdresse.firstname}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{carnetAdresse.email}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/carnet-adresse', carnetAdresse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
